@use '@/styles/typography' as tp;
@use '@/styles/breakpoints' as bp;

.card {
  @include bp.respond-to('large') {
    height: 60px;
  }

  @include bp.respond-to('extra-large') {
    height: 80px;
  }

  .content {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 20px 24px;

    .korean-word {
      margin: 0;

      @include bp.respond-to('compact') {
        @include tp.body-large;
      }

      @include bp.respond-to('medium') {
        @include tp.body-large;
      }

      @include bp.respond-to('expanded') {
        @include tp.body-large;
      }

      @include bp.respond-to('large') {
        @include tp.title-medium;
      }

      @include bp.respond-to('extra-large') {
        @include tp.title-large;
      }

      .homograph-number {
        @include tp.body-medium;
        color: var(--md-sys-color-on-surface-variant);
      }
    }

    .right-container {
      display: flex;
      position: absolute;
      left: 165px;
      align-items: center;

      .line {
        border-left: 1px solid gray;

        @include bp.respond-to('large') {
          height: 30px;
        }

        @include bp.respond-to('extra-large') {
          height: 40px;
        }
      }

      .foreign-word {
        @include bp.respond-to('compact') {
          @include tp.body-large;
        }

        @include bp.respond-to('medium') {
          @include tp.body-large;
        }

        @include bp.respond-to('expanded') {
          @include tp.body-large;
        }

        @include bp.respond-to('large') {
          margin: 0 0 0 16px;
          @include tp.title-medium;
        }

        @include bp.respond-to('extra-large') {
          margin: 0 0 0 24px;
          @include tp.title-large;
        }
      }
    }
  }
}
