@use '@/styles/typography' as tp;

.container {
  box-sizing: border-box;
  display: flex;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80px;
  height: 100vh;
  padding: 44px 12px 56px;

  gap: 40px;
  border-radius: 0 28px 28px 0;
  background-color: var(--md-sys-color-surface);

  .header-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 8px;
  }

  .navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12px;

    .navigation-item {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 56px;

      .navigation-button-background-container {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .navigation-button-background {
        height: 100%;
        border-radius: 28px;
        background-color: var(--md-sys-color-primary-container);
      }

      .navigation-button-ripple {
        position: absolute;
        top: 0;
        left: 0;
      }

      .navigation-item-button {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
        border: none;
        border-radius: 28px;
        background-color: transparent;
        color: var(--md-sys-color-on-surface-variant);

        .navigation-item-icon {
          display: flex;
          z-index: 10000;
          position: absolute;
          top: 4px;
          left: 16px;
        }
      }

      .navigation-item-label {
        width: 56px;
        text-align: center;
        @include tp.label-medium;
        z-index: 1000;
        margin: 4px 0;
        color: var(--md-sys-color-on-surface-variant);
        font-weight: 600;
        font-size: 12px;
      }

      &.selected {
        .navigation-item-label {
          @include tp.label-medium-prominent;
          color: var(--md-sys-color-on-surface);
        }
      }
    }
  }

  &.expanded {
    box-sizing: border-box;
    align-items: flex-start;
    width: 250px;
    padding: 44px 12px 56px;
    // gap: 28px;

    .navigation-container {
      gap: 12px;

      .navigation-item {
        box-sizing: border-box;
        height: 56px;
        border-radius: 28px;

        .navigation-item-button {
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          height: 100%;
          padding: 16px;
        }

        .navigation-item-icon {
          top: 16px;
          left: 16px;
        }

        .navigation-item-label {
          margin: 0;
          padding-left: 32px;
          @include tp.label-large;
        }

        &.selected {
          .navigation-item-label {
            @include tp.label-large-prominent;
          }
        }
      }
    }
  }
}

.scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
