@use '@/styles/typography' as tp;
@use '@/styles/breakpoints' as bp;

.conjugations-container {
  display: flex;
  flex-direction: column;
  color: var(--md-sys-color-on-surface-variant);
}

.conjugations-container-icon {
  color: var(--md-sys-color-on-surface);
}

.conjugations-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  margin-bottom: 12px;
  padding: 0 8px;
  gap: 8px;

  @include tp.title-small;

  @include bp.respond-to('large') {
    @include tp.title-medium;
  }

  @include bp.respond-to('extra-large') {
    @include tp.title-large;
  }
}

.conjugations-list {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  gap: 24px;
}

.conjugation-item {
  display: flex;
  flex-direction: column;
  height: 20px;
  gap: 8px;
}

.conjugation-item-label {
  color: var(--md-sys-color-secondary);
  @include tp.label-medium;

  @include bp.respond-to('large') {
    @include tp.title-small;
  }

  @include bp.respond-to('extra-large') {
    @include tp.title-medium;
  }
}

.conjugation-item-word {
  @include tp.label-medium;

  @include bp.respond-to('large') {
    @include tp.body-medium;
  }
  @include bp.respond-to('extra-large') {
    @include tp.body-large;
  }
}
