@use '@/styles/typography' as tp;
@use '@/styles/grid-system' as gs;
@use '@/styles/breakpoints' as bp;

.page {
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  @include bp.respond-to('compact') {
    grid-column: span 4;
    gap: 16px;
  }

  @include bp.respond-to('medium') {
    grid-column: 2 / span 6;
    gap: 16px;
  }

  @include bp.respond-to('expanded') {
    grid-column: 3 / span 8;
    gap: 24px;
  }

  @include bp.respond-to('large') {
    grid-column: span 12;
  }

  @include bp.respond-to('extra-large') {
    gap: 24px;
  }
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: 100%;

  @include bp.respond-to('large') {
    @include tp.headline-medium;
  }

  @include bp.respond-to('extra-large') {
    @include tp.headline-large;
  }

  .title {
    @include bp.respond-to('large') {
      @include tp.headline-medium;
    }

    @include bp.respond-to('extra-large') {
      @include tp.title-large;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 12px;

    @include bp.respond-to('large') {
      @include gs.grid-system;
      gap: 24px;
    }

    @include bp.respond-to('extra-large') {
      @include gs.grid-system;
      gap: 24px;
    }
  }
}
