@use '@/styles/typography' as tp;
@use '@/styles/breakpoints' as bp;

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @include bp.respond-to('compact') {
    grid-column: span 4;
    gap: 16px;
  }

  @include bp.respond-to('medium') {
    grid-column: 2 / span 6;
    gap: 16px;
  }

  @include bp.respond-to('expanded') {
    grid-column: 3 / span 8;
    gap: 24px;
  }

  @include bp.respond-to('large') {
    grid-column: 3 / span 8;
    gap: 24px;
  }

  @include bp.respond-to('extra-large') {
    grid-column: 3 / span 8;
    gap: 24px;
  }
}
