@use '@/styles/typography' as tp;
@use '@/styles/breakpoints' as bp;

.rating-button {
  display: flex;
  grid-column: span 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  gap: 2px;
  border: 0;
  border-radius: 20px;
  background-color: var(--md-sys-color-primary-container);

  &.error {
    background-color: var(--md-sys-color-error-container);

    .rating-button-label {
      color: var(--md-sys-color-error);
    }

    .rating-button-interval {
      color: var(--md-sys-color-on-error-container);
    }
  }

  @include bp.respond-to('compact') {
    .rating-button-label {
      @include tp.label-medium;
      color: var(--md-sys-color-on-primary-container);
    }

    .rating-button-interval {
      @include tp.label-small;
      color: var(--md-sys-color-on-surface-variant);
    }
  }

  @include bp.respond-to('medium') {
    .rating-button-label {
      @include tp.title-medium;
    }

    .rating-button-interval {
      @include tp.title-small;
    }
  }

  @include bp.respond-to('expanded') {
    .rating-button-label {
      @include tp.title-large;
    }

    .rating-button-interval {
      @include tp.title-medium;
    }
  }

  @include bp.respond-to('large') {
    .rating-button-label {
      @include tp.headline-small;
    }

    .rating-button-interval {
      @include tp.title-small;
    }
  }

  @include bp.respond-to('extra-large') {
    .rating-button-label {
      @include tp.headline-medium;
    }

    .rating-button-interval {
      @include tp.title-medium;
    }
  }
}
